<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Country</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
              {{ name }}
              <label for="name">Name</label>
              <input 
                ngModel 
                required 
                #nameVar="ngModel" 
                name="name" id="name" 
                type="text" 
                class="form-control">
              <div class="alert alert-danger" *ngIf="nameVar.touched && nameVar.invalid">
                  <div *ngIf="nameVar.errors.required">Name is required</div>
              </div>
        
              <label for="common_name">Common Name</label>
              <input ngModel required #commonnameVar="ngModel" name="common_name" id="common_name" type="text"class="form-control">
              <div class="alert alert-danger" *ngIf="commonnameVar.touched && commonnameVar.invalid">
                  <div *ngIf="commonnameVar.errors.required">Common Name is required</div>
              </div>
        
              <label for="numeric_code">Numeric Code</label>
              <input ngModel required #numericcodeVar="ngModel" name="numeric_code" id="numeric_code" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf="numericcodeVar.touched && numericcodeVar.invalid">
                  <div *ngIf="numericcodeVar.errors.required">Numeric Code is required</div>
              </div>
    
              <label for="alpha_2_code">alpha 2 code</label>
              <input ngModel required #alpha2CodeVar="ngModel" name="alpha_2_code" id="alpha_2_code" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf="alpha2CodeVar.touched && alpha2CodeVar.invalid">
                  <div *ngIf="alpha2CodeVar.errors.required">alpha 2 code is required</div>
              </div>
    
              <label for="alpha_3_code">alpha 3 code</label>
              <input ngModel required #alpha3CodeVar="ngModel" name="alpha_3_code" id="alpha_3_code" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf="alpha3CodeVar.touched && alpha3CodeVar.invalid">
                  <div *ngIf="alpha3CodeVar.errors.required">alpha 3 code is required</div>
              </div>
              
            </div>
          <button class="button btn btn-primary">Save</button>
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
  </div>
