<input type="text" class="form-control invisible" (keyup.enter)="createCountry(title)" #title >
<div class="mx-auto" style="width:200px">
  <button class="btn btn-primary btn-lg mt-2 mb-5" (click)="open(content)">New Country</button>
</div>

<p>
  <ngb-alert [dismissible]="true" type="danger" *ngIf="ErrorLabel" (close)="!ErrorLabel" >
    <strong>Error!</strong> {{ ErrorLabel }}
  </ngb-alert>
  <ngb-alert [dismissible]="true" type="success" *ngIf="SuccessLabel" (close)="!SuccessLabel" >
    <strong>Success!</strong> {{ SuccessLabel }}
  </ngb-alert>
</p>

<ul class="list-group">
  <li 
    *ngFor="let country of countries"
    class="list-group-item">
    {{ country.name }} <strong>({{ country.status }})</strong>
    <button class="btn btn-primary btn-sm float-right marginLeft10" (click)="updateCountry(country)" >Update</button>
    <button class="btn btn-danger btn-sm float-right" (click)="deleteCountry(country)" >Delete</button>
    
  </li>
</ul>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Country</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
  </div>
</ng-template>
